---
layout: default
title: API Evangelist - Dependencies
---

<!-- Main -->
{% assign home_content = site.data.home_content.index[0] %}
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ home_content.title }}</h2>
		</header>
		{{ home_content.content }}
	</div>
	<span class="image object">
		<img src="{{ home_content.image }}" alt="" width="25%" />
	</span>
</section>

<!-- Partners -->
<a name="Partners"></a>
<section>
	<header>
		<h2>API Evangelist Partners</h2>
		<p>These are my partners who invest in API Evangelist each month, helping underwrite my research, and making sure I'm able to keep monitoring the API space as I do.</p>
	</header>
	<div class="features">
		{% assign partners = site.data.partners.index | sort: 'view_sort' %}
    {% for partner in partners %}
      {% if partner.type == 'Sponsor' %}
			<article>
				<p><a href="{{ partner.url }}" target="_blank"><img src="{{ partner.image }}" width="75%" style="padding: 15px;" align="center" /></a></p>
				<div class="content">
					<h3><a href="{{ partner.url }}" target="_blank">{{ partner.name }}</a></h3>
					<p>{{ partner.description }}</p>
				</div>
			</article>
      {% endif %}
    {% endfor %}
	</div>
</section>

<!-- Blog Feature -->
<a name="BlogFeature"></a>
{% for post in site.posts limit:1 %}
	<section id="banner">
		<div class="content">
			<header>
				<h2>Latest From Blog on API Dependencies: {{ post.title }}</h2>
				<p><em>{{ post.date | date_to_string }}</em></p>
			</header>
			{{ post.content }}
			<ul class="actions" style="text-align: center;">
				<li><a href="/blog/" class="button big">Read The Blog</a></li>
			</ul>
		</div>
	</section>
{% endfor %}

<!-- News -->
<a name="News"></a>
{% assign news_content = site.data.news_content.index[0] %}
{% assign news = site.data.curated.index %}
{% assign news = news | sort: 'item_date' %}
{% assign news = news | reverse %}
<section>
	<header>
		<h2>{{ news_content.title }}</h2>
	</header>
	<p>{{ news_content.header }}</p>
	<div class="table-wrapper" style="height: 500px; overflow: auto;">
		<table class="alt">
			<thead>
				<tr>
					<th>Title</th>
					<th>Source</th>
					<th>Visit</th>
				</tr>
			</thead>
			<tbody>
				{% for curated in news %}
				<tr>
					<td><a href="{{ curated.url }}" title="{{ curated.title }}" style="color:#000; font-size: 12px;">{{ curated.title }}</a> <span style="color:#000; font-size: 12px;">(<i>{{ curated.item_date | date: "%Y-%m-%d" }}</i>)</span></td>
					<td>{% if curated.domain != null %}<a href="http://{{ curated.domain }}" style="color:#000; font-size: 12px;">{{ curated.domain }}</i></a>{% endif %}</td>
					<td><a href="{{ curated.url }}" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-forward.png" width="25" /></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<p>{{ news_content.footer }}</p>
	<center>
		<ul class="actions" style="text-align: center;">
			<li><a href="/news/" class="button big">Read The News</a></li>
		</ul>
	</center>
</section>

<!-- About This Research -->
{% assign about_content = site.data.home_content.index[1] %}
<a name="About"></a>
<section id="banner">
	<div class="content">
		<header>
			<h2>{{ about_content.title }}</h2>
		</header>
		{{ about_content.content }}
	</div>
	<span class="image object">
		<img src="{{ about_content.image }}" alt="" width="25%" />
	</span>
</section>
