swagger: "2.0"
info:
  title: CloudFlare Keyless SSL for a Zone API
  description: The API for managing CloudFlare Keyless SSL for a Zone
  termsOfService: https://www.cloudflare.com/terms/
  version: 1.0.0
host: api.cloudflare.com
basePath: /client/v4
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /zones/:zone_identifier/keyless_certificates:
    get:
      summary: List all Keyless SSL configurations for a given zone
      description: List all Keyless SSL configurations for a given zone
      operationId: cloudflare-keyless-ssl-for-a-zone-api
      responses:
        200:
          description: OK
      tags:
      - ""
    post:
      summary: The keyless SSL name
      description: The keyless SSL name
      operationId: cloudflare-keyless-ssl-for-a-zone-api
      parameters:
      - in: query
        name: certificate
        description: The zones SSL certificate or SSL certificate and intermediate(s)tttttttttttttt-----BEGIN
          CERTIFICATE----- MIIDtTCCAp2gAwIBAgIJAM15n7fdxhRtMA0GCSqGSIb3DQEBBQUAMEUxCzAJBgNV
          BAYTAlVTMRMwEQYDVQQIEwpTb21lLVN0YXRlMSEwHwYDVQQKExhJbnRlcm5ldCBX aWRnaXRzIFB0eSBMdGQwHhcNMTQwMzExMTkyMTU5WhcNMTQwNDEwMTkyMTU5WjBF
          MQswCQYDVQQGEwJVUzETMBEGA1UECBMKU29tZS1TdGF0ZTEhMB8GA1UEChMYSW50 ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIB
          CgKCAQEAvq3sKsHpeduJHimOK+fvQdKsI8z8A05MZyyLp2/R/GE8FjNv+hkVY1WQ LIyTNNQH7CJecE1nbTfo8Y56S7x/rhxC6/DJ8MIulapFPnorq46KU6yRxiM0MQ3N
          nTJHlHA2ozZta6YBBfVfhHWl1F0IfNbXCLKvGwWWMbCx43OfW6KTkbRnE6gFWKuO fSO5h2u5TaWVuSIzBvYs7Vza6m+gtYAvKAJV2nSZ+eSEFPDo29corOy8+huEOUL8
          5FAw4BFPsr1TlrlGPFitduQUHGrSL7skk1ESGza0to3bOtrodKei2s9bk5MXm7lZ qI+WZJX4Zu9+mzZhc9pCVi8r/qlXuQIDAQABo4GnMIGkMB0GA1UdDgQWBBRvavf+
          sWM4IwKiH9X9w1vl6nUVRDB1BgNVHSMEbjBsgBRvavf+sWM4IwKiH9X9w1vl6nUV RKFJpEcwRTELMAkGA1UEBhMCVVMxEzARBgNVBAgTClNvbWUtU3RhdGUxITAfBgNV
          BAoTGEludGVybmV0IFdpZGdpdHMgUHR5IEx0ZIIJAM15n7fdxhRtMAwGA1UdEwQF MAMBAf8wDQYJKoZIhvcNAQEFBQADggEBABY2ZzBaW0dMsAAT7tPJzrVWVzQx6KU4
          UEBLudIlWPlkAwTnINCWR/8eNjCCmGA4heUdHmazdpPa8RzwOmc0NT1NQqzSyktt vTqb4iHD7+8f9MqJ9/FssCfTtqr/Qst/hGH4Wmdf1EJ/6FqYAAb5iRlPgshFZxU8
          uXtA8hWn6fK6eISD9HBdcAFToUvKNZ1BIDPvh9f95Ine8ar6yGd56TUNrHR8eHBs ESxz5ddVR/oWRysNJ+aGAyYqHS8S/ttmC7r4XCAHqXptkHPCGRqkAhsterYhd4I8
          /cBzejUobNCjjHFbtkAL/SjxZOLW+pNkZwfeYdM8iPkD54Uua1v2tdw= -----END CERTIFICATE-----
      - in: query
        name: host
        description: The keyless SSL namettttttttttttttexample.com
      - in: query
        name: name
        description: The keyless SSL namettttttttttttttexample.com Keyless SSL
      - in: query
        name: port
        description: The keyless SSL port used to commmunicate between CloudFlare
          and the clients Keyless SSL servertttttttttttttt24008
      - in: header
        name: X-AUTH-EMAIL
        description: Email address associated with your account
      - in: header
        name: X-AUTH-KEY
        description: API key generated on the My Account page
      responses:
        200:
          description: OK
      tags:
      - ""
  /zones/:zone_identifier/keyless_certificates/:identifier:
    delete:
      summary: 'Delete Keyless configuration permission needed: #ssl:edit'
      description: ' Delete Keyless configuration permission needed: #ssl:editntt  '
      operationId: cloudflare-keyless-ssl-for-a-zone-api
      responses:
        200:
          description: OK
      tags:
      - ""
    get:
      summary: Details for one Keyless SSL configuration
      description: Details for one Keyless SSL configuration
      operationId: cloudflare-keyless-ssl-for-a-zone-api
      responses:
        200:
          description: OK
      tags:
      - ""
    patch:
      summary: This will update attributes of a Keyless SSL
      description: This will update attributes of a Keyless SSL
      operationId: cloudflare-keyless-ssl-for-a-zone-api
      parameters:
      - in: query
        name: host
        description: The keyless SSL namettttttttttttttexample.com
      - in: query
        name: name
        description: The keyless SSL namettttttttttttttexample.com Keyless SSL
      - in: query
        name: port
        description: The keyless SSL port used to commmunicate between CloudFlare
          and the clients Keyless SSL servertttttttttttttt24008
      - in: header
        name: X-AUTH-EMAIL
        description: Email address associated with your account
      - in: header
        name: X-AUTH-KEY
        description: API key generated on the My Account page
      responses:
        200:
          description: OK
      tags:
      - ""
definitions: []