swagger: "2.0"
info:
  title: User-level Firewall access rule API
  description: The API for managing CloudFlare User-level Firewall access rule
  termsOfService: https://www.cloudflare.com/terms/
  version: 1.0.0
host: api.cloudflare.com
basePath: /client/v4
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /user/firewall/access_rules/rules:
    get:
      summary: Search, sort, and filter IP/country access rules
      description: Search, sort, and filter IP/country access rules
      operationId: cloudflare-userlevel-firewall-access-rule-api
      parameters:
      - in: query
        name: configuration_target
        description: The rule configuration targetip
      - in: query
        name: configuration_value
        description: Search by IP, range, or country code1.2.3.4
      - in: query
        name: direction
        description: Direction to order rulesdesc
      - in: query
        name: match
        description: Whether to match all search requirements or at least one (any)all
      - in: query
        name: mode
        description: The action to apply to a matched requestchallenge
      - in: query
        name: order
        description: Field to order rules bymode
      - in: query
        name: page
        description: Page number of paginated results1
      - in: query
        name: per_page
        description: Number of rules per page50
      - in: header
        name: X-AUTH-EMAIL
        description: Email address associated with your account
      - in: header
        name: X-AUTH-KEY
        description: API key generated on the My Account page
      responses:
        200:
          description: OK
      tags:
      - ""
    post:
      summary: Make a new IP, IP range, or country access rule for all zones owned
        by the user
      description: Make a new IP, IP range, or country access rule for all zones owned
        by the user
      operationId: cloudflare-userlevel-firewall-access-rule-api
      parameters:
      - in: query
        name: configuration
        description: Rule configurationOne of the following:Show definition &raquo;Name
          /typeDescription /exampleConstraintstargetstring
      - in: query
        name: mode
        description: The action to apply to a matched requestchallenge
      - in: query
        name: value
        description: The IP address to target in requests1.2.3.4
      - in: header
        name: X-AUTH-EMAIL
        description: Email address associated with your account
      - in: header
        name: X-AUTH-KEY
        description: API key generated on the My Account page
      responses:
        200:
          description: OK
      tags:
      - ""
  /user/firewall/access_rules/rules/:identifier:
    delete:
      summary: Remove an access rule so it is no longer evaluated during requests
      description: Remove an access rule so it is no longer evaluated during requests
      operationId: cloudflare-userlevel-firewall-access-rule-api
      responses:
        200:
          description: OK
      tags:
      - ""
    patch:
      summary: Update rule state and/or configuration
      description: Update rule state and/or configuration
      operationId: cloudflare-userlevel-firewall-access-rule-api
      parameters:
      - in: query
        name: configuration
        description: Rule configurationOne of the following:Show definition &raquo;Name
          /typeDescription /exampleConstraintstargetstring
      - in: query
        name: mode
        description: The action to apply to a matched requestchallenge
      - in: query
        name: value
        description: The IP address to target in requests1.2.3.4
      - in: header
        name: X-AUTH-EMAIL
        description: Email address associated with your account
      - in: header
        name: X-AUTH-KEY
        description: API key generated on the My Account page
      responses:
        200:
          description: OK
      tags:
      - ""
definitions: []