swagger: "2.0"
info:
  title: Users Organizations API
  description: The API for managing CloudFlare User&amp;#x27;s Organizations
  termsOfService: https://www.cloudflare.com/terms/
  version: 1.0.0
host: api.cloudflare.com
basePath: /client/v4
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /user/organizations:
    get:
      summary: List organizations the user is associated with
      description: List organizations the user is associated with
      operationId: cloudflare-userx27s-organizations-api
      parameters:
      - in: query
        name: direction
        description: Direction to order organizationsdesc
      - in: query
        name: match
        description: Whether to match all search requirements or at least one (any)all
      - in: query
        name: name
        description: Organization NameCloudFlare, Inc.
      - in: query
        name: order
        description: Field to order organizations bystatus
      - in: query
        name: page
        description: Page number of paginated results1
      - in: query
        name: per_page
        description: Number of organizations per page20
      - in: query
        name: status
        description: Whether or not the user is a member of the organization or has
          an inivitation pendingmember
      - in: header
        name: X-AUTH-EMAIL
        description: Email address associated with your account
      - in: header
        name: X-AUTH-KEY
        description: API key generated on the My Account page
      responses:
        200:
          description: OK
      tags:
      - ""
  /user/organizations/:identifier:
    delete:
      summary: Remove association to an organization
      description: Remove association to an organization
      operationId: cloudflare-userx27s-organizations-api
      responses:
        200:
          description: OK
      tags:
      - ""
    get:
      summary: Get a specific organization the user is associated with
      description: Get a specific organization the user is associated with
      operationId: cloudflare-userx27s-organizations-api
      responses:
        200:
          description: OK
      tags:
      - ""
definitions: []