swagger: "2.0"
info:
  title: Results API
  description: The Results API.
  version: 1.0.0
host: api.pingdom.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  n    /api/{version}/results/{checkid}:
    n    get:
      summary: Get Raw Check Results
      description: '    Return a list of raw test results for a specified check'
      operationId: get-raw-check-results
      parameters:
      - in: query
        name: from
        description: Start of period. Format is UNIX timestamp
        type: <td>integer</td>
      - in: query
        name: includeanalysis
        description: Attach available root cause analysis identifiers to corresponding
          results
        type: <td>boolean</td>
      - in: query
        name: limit
        description: Number of results to show (Will be set to 1000 if the provided
          value is greater than 1000)
        type: <td>integer</td>
      - in: query
        name: maxresponse
        description: Maximum response time (ms). If set, specified interval must not
          be larger than 31 days.
        type: <td>integer</td>
      - in: query
        name: minresponse
        description: Minimum response time (ms). If set, specified interval must not
          be larger than 31 days.
        type: <td>integer</td>
      - in: query
        name: offset
        description: Number of results to skip (Max value is 43200)
        type: <td>integer</td>
      - in: query
        name: probes
        description: Filter to only show results from a list of probes. Format is
          a comma separated list of probe identifiers
        type: <td>string</td>
      - in: query
        name: status
        description: Filter to only show results with specified statuses. Format is
          a comma separated list of (down, up, unconfirmed, unknown)
        type: <td>string</td>
      - in: query
        name: to
        description: End of period. Format is UNIX timestamp
        type: <td>integer</td>
      responses:
        200:
          description: OK
      tags:
      - Results
definitions: []