swagger: "2.0"
info:
  title: Alert Conditions API
  description: The Alert Conditions API.
  version: 1.0.0
host: api.newrelic.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v2/alerts_conditions.{format}:
    get:
      summary: List
      description: <p>This API endpoint allows you to list the conditions for your
        alert policy.</p><p>See our documentation for a discussion on <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output
        target=_blank>output pagination</a>.</p>
      operationId: list
      parameters:
      - in: query
        name: page
        description: Pagination index
        type: integer
      - in: query
        name: policy_id
        description: Alerts policy ID
        type: integer
      responses:
        200:
          description: OK
      tags:
      - Alert Conditions
  /v2/alerts_conditions/policies/{policy_id}.{format}:
    post:
      summary: Create
      description: '<p>This API endpoint allows you to create conditions for your
        alert policies.</p><p>Note: <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key>Admin
        Useru2019s API Key</a> is required.</p><p>See our documentation for a discussion
        on <a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#conditions-create
        target=_blank>creating conditions for policies</a>.<br /></p><p>All fields
        are required except for u201crunbook_urlu201d, u201cenabledu201d (defaults
        to false), u201cuser_definedu201d.</p><p><a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#type
        target=_blank>type</a>: apm_app_metric, apm_kt_metric, servers_metric, browser_metric,
        mobile_metric.</p><p><a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#name
        target=_blank>name</a>: A title for your condition.</p><p><a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#enabled
        target=_blank>enabled</a>: The status of your condition (optional).</p><p><a
        href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#entities
        target=_blank>entities</a>: An array of instance IDs associated with your
        condition.</p><p><a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#metric
        target=_blank>metric</a>: The metric field accepts parameters based on the
        condition <b>type</b> selected as follows:</p><p>u00a0u00a0When <b>apm_app_metric</b>:
        apdex, error_percentage, response_time_web, response_time_background, throughput_web,
        throughput_background, user_defined.</p><p>u00a0u00a0When <b>apm_kt_metric</b>:
        apdex, error_percentage, error_count, response_time, throughput.</p><p>u00a0u00a0When
        <b>servers_metric</b>: cpu_percentage, disk_io_percentage, memory_percentage,
        fullest_disk_percentage, load_average_one_minute, user_defined.</p><p>u00a0u00a0When
        <b>browser_metric</b>: end_user_apdex, total_page_load, page_rendering, web_application,
        network, dom_processing, request_queuing, ajax_response_time, page_views_with_js_errors,
        page_view_throughput, ajax_throughput, user_defined.</p><p>u00a0u00a0When
        <b>mobile_metric</b>: database, images, json, network, view_loading, network_error_percentage,
        status_error_percentage, mobile_crash_rate, user_defined.</p><p><a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#runbook_url
        target=_blank>runbook_url</a>: Runbook URL to display in notifications (optional).</p><p><a
        href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_duration
        target=_blank>terms[duration]</a> (in minutes): 5, 10, 15, 30, 60, 120.</p><p><a
        href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_operator
        target=_blank>terms[operator]</a>: above, below, equal.</p><p><a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_priority
        target=_blank>terms[priority]</a>: critical, warning.</p><p><a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_threshold
        target=_blank>terms[threshold]</a>: Must be 0 or greater.</p><p><a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#terms_time_function
        target=_blank>terms[time_function]</a>: all, any.</p><p><a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#user_defined_metric
        target=_blank>user_defined[metric]</a>: A custom metric to be evaluated.</p><p><a
        href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/alerts-conditions-api-field-names#user_defined_value_function
        target=_blank>user_defined[value_function]</a>: average, min, max, total,
        sample_size.</p>'
      operationId: create
      parameters:
      - in: body
        name: condition
        description: Condition schema
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: policy_id
        description: Alerts policy ID
        type: integer
      responses:
        200:
          description: OK
      tags:
      - Alert Conditions
  /v2/alerts_conditions/{condition_id}.{format}:
    delete:
      summary: Delete
      description: '<p>This API endpoint allows you to delete conditions associated
        with your alert policy.</p><p>Note: <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key>Admin
        Useru2019s API Key</a> is required.</p><p>See our documentation for a discussion
        on <a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#conditions-delete
        target=_blank>deleting conditions</a>.</p>'
      operationId: delete
      parameters:
      - in: path
        name: condition_id
        description: Alerts condition ID
        type: integer
      responses:
        200:
          description: OK
      tags:
      - Alert Conditions
  /v2/alerts_conditions/{id}.{format}:
    put:
      summary: Update
      description: '<p>This API endpoint allows you to update conditions for your
        alert policies.</p><p>Note: <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/rest-api-key>Admin
        Useru2019s API Key</a> is required.</p><p>See Alerts Conditions &gt; Create
        for an explanation of the field values or the online documentation on <a href=https://docs.newrelic.com/docs/alerts/new-relic-alerts/rest-api-alerts/rest-api-calls-new-relic-alerts#conditions-update
        target=_blank>updating conditions for policies</a>.</p>'
      operationId: update
      parameters:
      - in: body
        name: condition
        description: Condition schema
        schema:
          $ref: '#/definitions/holder'
      - in: path
        name: id
        description: Alerts condition ID to update
        type: integer
      responses:
        200:
          description: OK
      tags:
      - Alert Conditions
definitions:
  "":
    properties:
      condition:
        description: This is a default description.
        type: GET
      id:
        description: This is a default description.
        type: GET
      type:
        description: This is a default description.
        type: GET
      name:
        description: This is a default description.
        type: GET
      enabled:
        description: This is a default description.
        type: GET
      entities:
        description: This is a default description.
        type: GET
      metric:
        description: This is a default description.
        type: GET
      runbook_url:
        description: This is a default description.
        type: GET
      terms:
        description: This is a default description.
        type: GET
      user_defined:
        description: This is a default description.
        type: GET
      value_function:
        description: This is a default description.
        type: GET