swagger: "2.0"
info:
  title: Alert Event API
  description: The Alert Event API.
  version: 1.0.0
host: api.newrelic.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v2/alerts_events.{format}:
    get:
      summary: List
      description: '<p>This API endpoint allows you to list the alert events for your
        account.</p><p>Alerts events can be filter by product, target type, group
        ID, instance ID, and event type.</p><p>The options for products are: <b>APM</b>,
        <b>BROWSER</b>, <b>MOBILE</b>, <b>SERVERS</b>, <b>PLUGINS</b>, <b>SYNTHETICS</b>,
        and <b>ALERTS</b>.</p><p>The options for entity type are: <b>Application</b>,
        <b>Server</b>, <b>KeyTransaction</b>, <b>Plugin</b>, <b>MobileApplication</b>,
        <b>BrowserApplication</b>, and <b>Monitor</b>.</p><p>The options for event
        type are: <b>NOTIFICATION</b>, <b>DEPLOYMENT</b>, <b>VIOLATION_OPEN</b>, <b>VIOLATION_CLOSE</b>,
        <b>VIOLATION</b>, and <b>INSTRUMENTATION</b>.</p><p>The group ID option is
        normally the same as the entity ID (e.g. an Application group ID and entity
        ID will be the same), however PLUGINS have a group ID representing the PLUGIN
        itself, and entity IDs for all instances of that PLUGIN type.</p><p>See our
        documentation for a discussion on <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output
        target=_blank>output pagination</a>.</p>'
      operationId: list
      parameters:
      - in: query
        name: filter[entity_group_id]
        description: Filter by entity group ID
        type: integer
      - in: query
        name: filter[entity_id]
        description: Filter by entity ID
        type: integer
      - in: query
        name: filter[entity_type]
        description: Filter by entity type
        type: string
      - in: query
        name: filter[event_type]
        description: Filter by event type
        type: string
      - in: query
        name: filter[product]
        description: Filter by New Relic product
        type: string
      - in: query
        name: page
        description: Pagination index
        type: integer
      responses:
        200:
          description: OK
      tags:
      - Alert Event
definitions:
  "":
    properties:
      recent_event:
        description: This is a default description.
        type: GET
      id:
        description: This is a default description.
        type: GET
      event_type:
        description: This is a default description.
        type: GET
      product:
        description: This is a default description.
        type: GET
      entity_type:
        description: This is a default description.
        type: GET
      entity_group_id:
        description: This is a default description.
        type: GET
      entity_id:
        description: This is a default description.
        type: GET
      priority:
        description: This is a default description.
        type: GET
      description:
        description: This is a default description.
        type: GET
      timestamp:
        description: This is a default description.
        type: GET
      incident_id:
        description: This is a default description.
        type: GET