swagger: "2.0"
info:
  title: Component API
  description: The Component API.
  version: 1.0.0
host: api.newrelic.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v2/components.{format}:
    get:
      summary: List
      description: <p>This API endpoint returns a list of the plugin components associated
        with your New Relic account.</p><p>Plugins can be filtered by their name,
        the list of component IDs or a plugin ID.</p><p>See our documentation for
        a discussion on <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/plugin-examples-v2/get-individual-plugin-components-v2
        target=_blank> listing components</a>and <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output
        target=_blank> output pagination</a>.</p>
      operationId: list
      parameters:
      - in: query
        name: filter[ids]
        description: Filter components by ids
        type: list
      - in: query
        name: filter[name]
        description: Filter components by name
        type: string
      - in: query
        name: filter[plugin_id]
        description: Filter components by the plugin
        type: integer
      - in: query
        name: page
        description: Pagination index
        type: integer
      responses:
        200:
          description: OK
      tags:
      - Component
  /v2/components/{component_id}/metrics.{format}:
    get:
      summary: Metric Names
      description: <p>Return a list of known metrics and their value names for the
        given resource.</p><p>See our documentation for a discussionon <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output
        target=_blank> output pagination</a>and for examples of <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/new-relic-rest-api-v2-getting-started#examples
        target=_blank>requesting and using metric values</a>.</p>
      operationId: names
      parameters:
      - in: path
        name: component_id
        description: Component ID
        type: integer
      - in: query
        name: cursor
        description: Cursor for next page (replacing page param)
        type: string
      - in: query
        name: name
        description: Filter metrics by name
        type: string
      - in: query
        name: page
        description: Pagination index (will be deprecated)
        type: integer
      responses:
        200:
          description: OK
      tags:
      - Component
  /v2/components/{component_id}/metrics/data.{format}:
    get:
      summary: Metric Data
      description: <p>This API endpoint returns a list of values for each of the requested
        metrics. The list of available metricscan be returned using the Metric Name
        API endpoint.</p><p>Metric data can be filtered by a number of parameters,
        including multiple names and values, and by time range.Metric names and values
        will be matched intelligently in the background.</p><p>You can also retrieve
        a summarized data point across the entire time range selected by using the
        summarizeparameter.</p><p>See our documentation for a discussion on <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output
        target=_blank>output pagination</a>, <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/extracting-metric-data
        target=_blank> time range</a> related considerations, and for examples of
        <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/new-relic-rest-api-v2-getting-started#examples
        target=_blank>requesting and using metric values</a>.</p>
      operationId: data
      parameters:
      - in: path
        name: component_id
        description: Component ID
        type: integer
      - in: query
        name: from
        description: Retrieve metrics after this time
        type: time
      - in: query
        name: names
        description: Retrieve specific metrics by name
        type: array
      - in: query
        name: period
        description: Period of timeslices in seconds
        type: integer
      - in: query
        name: raw
        description: Return unformatted raw values
        type: boolean
      - in: query
        name: summarize
        description: Summarize the data
        type: boolean
      - in: query
        name: to
        description: Retrieve metrics before this time
        type: time
      - in: query
        name: values
        description: Retrieve specific metric values
        type: array
      responses:
        200:
          description: OK
      tags:
      - Component
  /v2/components/{id}.{format}:
    get:
      summary: Show
      description: <p>This API endpoint returns a single component, identified by
        its ID.</p><p>See our documentation for a discussion on <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/plugin-examples-v2/get-individual-plugin-components-v2#list_component_id
        target=blank>listing components by ID</a>.</p>
      operationId: show
      parameters:
      - in: path
        name: id
        description: Plugin ID
        type: integer
      responses:
        200:
          description: OK
      tags:
      - Component
definitions:
  "":
    properties:
      component:
        description: This is a default description.
        type: GET
      id:
        description: This is a default description.
        type: GET
      name:
        description: This is a default description.
        type: GET
      summary_metrics:
        description: This is a default description.
        type: GET
      metric:
        description: This is a default description.
        type: GET
      value_function:
        description: This is a default description.
        type: GET
      thresholds:
        description: This is a default description.
        type: GET
      values:
        description: This is a default description.
        type: GET
      caution:
        description: This is a default description.
        type: GET
      critical:
        description: This is a default description.
        type: GET
      raw:
        description: This is a default description.
        type: GET
      formatted:
        description: This is a default description.
        type: GET
      metric_data:
        description: This is a default description.
        type: GET
      from:
        description: This is a default description.
        type: GET
      to:
        description: This is a default description.
        type: GET
      metrics_not_found:
        description: This is a default description.
        type: GET
      metrics_found:
        description: This is a default description.
        type: GET
      metrics:
        description: This is a default description.
        type: GET
      timeslices:
        description: This is a default description.
        type: GET