swagger: "2.0"
info:
  title: Mobile Application API
  description: The Mobile Application API.
  version: 1.0.0
host: api.newrelic.com
basePath: /
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v2/mobile_applications.{format}:
    get:
      summary: List
      description: <p>This API endpoint returns a list of the Mobile Applications
        associated with your New Relic account.</p><p>MobileApplications can be filtered
        by their name, or by the application IDs.</p>
      operationId: list
      responses:
        200:
          description: OK
      tags:
      - Mobile Application
  /v2/mobile_applications/{id}.{format}:
    get:
      summary: Show
      description: <p>This API endpoint returns a single Mobile Application, identified
        by ID. The time range for summary data is the last 30 minutes.</p>
      operationId: show
      parameters:
      - in: path
        name: id
        description: Mobile Application ID
        type: integer
      responses:
        200:
          description: OK
      tags:
      - Mobile Application
  /v2/mobile_applications/{mobile_application_id}/metrics.{format}:
    get:
      summary: Metric Names
      description: <p>Return a list of known metrics and their value names for the
        given resource.</p><p>See our documentation for a discussionon <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output
        target=_blank> output pagination</a>and for examples of <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/new-relic-rest-api-v2-getting-started#examples
        target=_blank>requesting and using metric values</a>.</p>
      operationId: metric_names
      parameters:
      - in: query
        name: cursor
        description: Cursor for next page (replacing page param)
        type: string
      - in: path
        name: mobile_application_id
        description: Mobile application ID
        type: integer
      - in: query
        name: name
        description: Filter metrics by name
        type: string
      - in: query
        name: page
        description: Pagination index (will be deprecated)
        type: integer
      responses:
        200:
          description: OK
      tags:
      - Mobile Application
  /v2/mobile_applications/{mobile_application_id}/metrics/data.{format}:
    get:
      summary: Metric Data
      description: <p>This API endpoint returns a list of values for each of the requested
        metrics. The list of available metricscan be returned using the Metric Name
        API endpoint.</p><p>Metric data can be filtered by a number of parameters,
        including multiple names and values, and by time range.Metric names and values
        will be matched intelligently in the background.</p><p>You can also retrieve
        a summarized data point across the entire time range selected by using the
        summarizeparameter.</p><p>See our documentation for a discussion on <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/pagination-api-output
        target=_blank>output pagination</a>, <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/extracting-metric-data
        target=_blank> time range</a> related considerations, and for examples of
        <a href=https://docs.newrelic.com/docs/apis/rest-api-v2/requirements/new-relic-rest-api-v2-getting-started#examples
        target=_blank>requesting and using metric values</a>.</p>
      operationId: metric_data
      parameters:
      - in: query
        name: from
        description: Retrieve metrics after this time
        type: time
      - in: path
        name: mobile_application_id
        description: Mobile application ID
        type: integer
      - in: query
        name: names
        description: Retrieve specific metrics by name
        type: array
      - in: query
        name: period
        description: Period of timeslices in seconds
        type: integer
      - in: query
        name: raw
        description: Return unformatted raw values
        type: boolean
      - in: query
        name: summarize
        description: Summarize the data
        type: boolean
      - in: query
        name: to
        description: Retrieve metrics before this time
        type: time
      - in: query
        name: values
        description: Retrieve specific metric values
        type: array
      responses:
        200:
          description: OK
      tags:
      - Mobile Application
definitions:
  "":
    properties:
      application:
        description: This is a default description.
        type: GET
      id:
        description: This is a default description.
        type: GET
      name:
        description: This is a default description.
        type: GET
      health_status:
        description: This is a default description.
        type: GET
      reporting:
        description: This is a default description.
        type: GET
      mobile_summary:
        description: This is a default description.
        type: GET
      crash_summary:
        description: This is a default description.
        type: GET
      active_users:
        description: This is a default description.
        type: GET
      launch_count:
        description: This is a default description.
        type: GET
      throughput:
        description: This is a default description.
        type: GET
      response_time:
        description: This is a default description.
        type: GET
      calls_per_session:
        description: This is a default description.
        type: GET
      interaction_time:
        description: This is a default description.
        type: GET
      failed_call_rate:
        description: This is a default description.
        type: GET
      remote_error_rate:
        description: This is a default description.
        type: GET
      supports_crash_data:
        description: This is a default description.
        type: GET
      unresolved_crash_count:
        description: This is a default description.
        type: GET
      crash_count:
        description: This is a default description.
        type: GET
      crash_rate:
        description: This is a default description.
        type: GET
      metric:
        description: This is a default description.
        type: GET
      values:
        description: This is a default description.
        type: GET
      metric_data:
        description: This is a default description.
        type: GET
      from:
        description: This is a default description.
        type: GET
      to:
        description: This is a default description.
        type: GET
      metrics_not_found:
        description: This is a default description.
        type: GET
      metrics_found:
        description: This is a default description.
        type: GET
      metrics:
        description: This is a default description.
        type: GET
      timeslices:
        description: This is a default description.
        type: GET