---
layout: page
title: 'API Definition News'
---

{% assign news_content = site.data.news_content.index[0] %}
{% assign news = site.data.curated.index %}
<section>
  <header class="main">
    <h2>{{ news_content.title }}</h2>
  </header>
  <p>{{ news_content.header }}</p>
	<div class="table-wrapper">
		<table class="alt">
			<thead>
				<tr>
					<th>Title</th>
					<th>Source</th>
					<th>Visit</th>
				</tr>
			</thead>
			<tbody>
				{% for curated in news %}
				<tr>
					<td><a href="{{ curated.url }}" title="{{ curated.title }}" style="color:#000; font-size: 12px;">{{ curated.title }}</a> <span style="color:#000; font-size: 12px;">(<i>{{ curated.item_date | date: "%Y-%m-%d" }}</i>)</span></td>
					<td>{% if curated.domain != null %}<a href="http://{{ curated.domain }}" style="color:#000; font-size: 12px;">{{ curated.domain }}</i></a>{% endif %}</td>
					<td><a href="{{ curated.url }}" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-forward.png" width="25" /></a></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<p>{{ news_content.footer }}</p>
</section>
