swagger: "2.0"
info:
  title: DNS Records API
  description: Use the following Rackspace Cloud DNS API operations to manage DNS
    records for a specified domain.
  version: 1.0.0
host: global.dns.api.rackspacecloud.com
basePath: /v2/{tenant_id}
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v1.0/{account}/domains/{domainId}/recordsn:
    delete:
      summary: Delete records
      description: NoteThis call returns an asynchronous response, as described inSynchronous
        and asynchronous responses.
      operationId: delete-records
      parameters:
      - in: header
        name: "202"
        description: Request is accepted.
        type: <td>accepted</td>
      - in: header
        name: "400"
        description: The request is missingone or more elements, orthe values of someelements
          are invalid.
        type: <td>bad request</td>
      - in: header
        name: 400 500
        description: The DNS service hasexperienced a fault.
        type: <td>dnsfault</td>
      - in: header
        name: "401"
        description: You are not authorizedto complete thisoperation. This errorcan
          occur if the requestis submitted with aninvalid authenticationtoken.
        type: <td>unauthorized</td>
      - in: header
        name: "404"
        description: The requested item wasnot found.
        type: <td>not found</td>
      - in: header
        name: "413"
        description: The number of itemsreturned is above theallowed limit.
        type: <td>over limit</td>
      - in: header
        name: "503"
        description: The service is notavailable.
        type: <td>service unavailable</td>
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Records
    get:
      summary: List records
      description: This call lists all records configured for the specified domain.Note
      operationId: list-records
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Records
    put:
      summary: Update records
      description: NoteThis call returns an asynchronous response. Refer toSynchronous
        and asynchronous responsesfor more details and examples of the way that asynchronous
        responses work.
      operationId: update-records
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Records
  /v1.0/{account}/domains/{domainId}/records/{recordId}n:
    delete:
      summary: Delete record
      description: NoteThis call returns an asynchronous response, as described inSynchronous
        and asynchronous responses.
      operationId: delete-record
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      - in: query
        name: recordId
        description: ID for the record.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Records
    get:
      summary: Show record details
      description: 'This call lists details for a specified record in the specified
        domain.This table shows the possible response codes for this operation:'
      operationId: show-record-details
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      - in: query
        name: recordId
        description: ID for the record.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Records
    put:
      summary: Update record
      description: NoteThis call returns an asynchronous response. Refer toSynchronous
        and asynchronous responsesfor more details and examples of the way that asynchronous
        responses work.
      operationId: update-record
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      - in: query
        name: recordId
        description: ID for the record.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Records
definitions: []