swagger: "2.0"
info:
  title: DNS Limits API
  description: Use the Limits operations to get information about the rate and domain
    limits for a specified Rackspace Cloud account.
  version: 1.0.0
host: global.dns.api.rackspacecloud.com
basePath: /v2/{tenant_id}
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v1.0/{account}/limitsn:
    get:
      summary: List limits
      description: This call provides a list of all applicable limits for a specified
        account.The following examples show the requests and corresponding responses
        to listall limits for the specified account.
      operationId: list-limits
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Limits
  /v1.0/{account}/limits/typesn:
    get:
      summary: List limit types
      description: This call provides a list of all applicable limit types for a specified
        account.The following examples show the requests and corresponding responses
        to listall limit types for the specified account.
      operationId: list-limit-types
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Limits
  /v1.0/{account}/limits/{type}n:
    get:
      summary: Show limits
      description: This call provides a list of all applicable limits of a specified
        type forthe specified account.The following examples show the requests and
        corresponding responses to listall applicable limits of a specified type for
        the specified account.
      operationId: show-limits
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: type
        description: The type of limit.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Limits
definitions: []