swagger: "2.0"
info:
  title: DNS Domains API
  description: Use the Domains operations to view and manage domains and subdomains
    for a Rackspace Cloud account.
  version: 1.0.0
host: global.dns.api.rackspacecloud.com
basePath: /v2/{tenant_id}
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v1.0/{account}/domainsn:
    delete:
      summary: Delete domains
      description: NoteThis call returns an asynchronous response, as described inSynchronous
        and asynchronous responses.
      operationId: delete-domains
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
    get:
      summary: List domains
      description: These calls provide a list of all DNS domains manageable by a given
        account.The resulting list is flat, and does not break the domains down hierarchicallyby
        subdomain. All representative domains are included in the list, even if adomain
        is conceptually a subdomain of another domain in the list.Note
      operationId: list-domains
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
    post:
      summary: Create domain
      description: NoteThis call returns an asynchronous response, SeeSynchronous
        and asynchronous responsesfor more details and examples of the way that asynchronous
        responses work.
      operationId: create-domain
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
    put:
      summary: Update domains
      description: NoteThis call returns an asynchronous response, as described inSynchronous
        and asynchronous responses.
      operationId: update-domains
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
  /v1.0/{account}/domains/importn:
    post:
      summary: Import domain
      description: NoteThis call returns an asynchronous response, as described inSynchronous
        and asynchronous responses.
      operationId: import-domain
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
  /v1.0/{account}/domains/searchn:
    get:
      summary: Search domains
      description: 'NoteFilter criteria may consist of:'
      operationId: search-domains
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
  /v1.0/{account}/domains/{domainId}n:
    delete:
      summary: Delete domain
      description: NoteThis call returns an asynchronous response, as described inSynchronous
        and asynchronous responses.
      operationId: delete-domain
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
    get:
      summary: List domain details without subdomains
      description: This call provides the detailed output for a specified domain configured
        andassociated with an account. This call is not capable of returning details
        for adomain that has been deleted.This call does not require a request body.
      operationId: list-domain-details-without-subdomains
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
    put:
      summary: Update domain
      description: NoteThis call returns an asynchronous response. Refer toSynchronous
        and asynchronous responsesfor more details and examples of the way that asynchronous
        responses work.
      operationId: update-domain
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
  /v1.0/{account}/domains/{domainId}/changesn:
    get:
      summary: Show domain changes
      description: This call shows all changes to a specified domain since a specifieddate/time.
        The since parameter is optional and defaults to midnight of thecurrent day.
        See Date/Time format for details on howto specify this parameters value.The
        examples below show the requests and corresponding responses to list thedomain
        changes since midnight, GMT-5, on September 13, 2011.
      operationId: show-domain-changes
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
  /v1.0/{account}/domains/{domainId}/clonen:
    post:
      summary: Clone domain
      description: Creates a specified domain ( example2.com ) by cloning a domain
        with iddomainId. All options except cloneName assume a default value of true.Note
      operationId: clone-domain
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
  /v1.0/{account}/domains/{domainId}/exportn:
    get:
      summary: Export domain
      description: NoteThis call returns an asynchronous response. Refer toSynchronous
        and asynchronous responses.
      operationId: export-domain
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: domainId
        description: ID for the domain.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Domains
definitions: []