swagger: "2.0"
info:
  title: Reverse DNS API
  description: Use the reverse DNS API operations to view and manage the PTR records
    associated with a Rackspace cloud device.
  version: 1.0.0
host: global.dns.api.rackspacecloud.com
basePath: /v2/{tenant_id}
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /v1.0/{account}/rdnsn:
    post:
      summary: Add PTR records
      description: NoteThis call returns an asynchronous response. Refer toSynchronous
        and asynchronous responsesfor more details and examples of the way that asynchronous
        responses work.
      operationId: add-ptr-records
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Reverse DNS
    put:
      summary: Update PTR records
      description: NoteThis call returns an asynchronous response. Refer toSynchronous
        and asynchronous responsesfor more details and examples of the way that asynchronous
        responses work.
      operationId: update-ptr-records
      parameters:
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: header
        name: X-Auth-Token
        description: Arbitrary characterstring generated by theauthentication servicein
          response to validcredentials.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Reverse DNS
  /v1.0/{account}/rdns/{service-name}n:
    delete:
      summary: Delete PTR records
      description: NoteThis call returns an asynchronous response, as described inSynchronous
        and asynchronous responses.
      operationId: delete-ptr-records
      parameters:
      - in: header
        name: "202"
        description: Request is accepted.
        type: <td>accepted</td>
      - in: header
        name: "400"
        description: The request is missingone or more elements, orthe values of someelements
          are invalid.
        type: <td>bad request</td>
      - in: header
        name: 400 500
        description: The DNS service hasexperienced a fault.
        type: <td>dnsfault</td>
      - in: header
        name: "401"
        description: You are not authorizedto complete thisoperation. This errorcan
          occur if the requestis submitted with aninvalid authenticationtoken.
        type: <td>unauthorized</td>
      - in: header
        name: "404"
        description: The requested item wasnot found.
        type: <td>not found</td>
      - in: header
        name: "413"
        description: The number of itemsreturned is above theallowed limit.
        type: <td>over limit</td>
      - in: header
        name: "503"
        description: The service is notavailable.
        type: <td>service unavailable</td>
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: service-name
        description: Name of the Cloudservice.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Reverse DNS
    get:
      summary: List PTR records
      description: 'This call lists all PTR records configured for a specified Cloud
        device.This table shows the possible response codes for this operation:'
      operationId: list-ptr-records
      parameters:
      - in: header
        name: "200"
        description: Request succeeded.
        type: <td>success</td>
      - in: header
        name: "400"
        description: The request is missingone or more elements, orthe values of someelements
          are invalid.
        type: <td>bad request</td>
      - in: header
        name: "401"
        description: You are not authorizedto complete thisoperation. This errorcan
          occur if the requestis submitted with aninvalid authenticationtoken.
        type: <td>unauthorized</td>
      - in: header
        name: "404"
        description: The requested item wasnot found.
        type: <td>not found</td>
      - in: header
        name: "413"
        description: The number of itemsreturned is above theallowed limit.
        type: <td>over limit</td>
      - in: header
        name: "500"
        description: The DNS service hasexperienced a fault.
        type: <td>dnsfault</td>
      - in: header
        name: "503"
        description: The service is notavailable.
        type: <td>service unavailable</td>
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: service-name
        description: Name of the Cloudservice.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Reverse DNS
  /v1.0/{account}/rdns/{service-name}/{recordId}n:
    get:
      summary: Show PTR record
      description: 'This call shows details for a specified PTR record associated
        with a specifiedcloud device.This table shows the possible response codes
        for this operation:'
      operationId: show-ptr-record
      parameters:
      - in: header
        name: "200"
        description: Request succeeded.
        type: <td>success</td>
      - in: header
        name: "400"
        description: The request is missingone or more elements, orthe values of someelements
          are invalid.
        type: <td>bad request</td>
      - in: header
        name: 400 500
        description: The DNS service hasexperienced a fault.
        type: <td>dnsfault</td>
      - in: header
        name: "401"
        description: You are not authorizedto complete thisoperation. This errorcan
          occur if the requestis submitted with aninvalid authenticationtoken.
        type: <td>unauthorized</td>
      - in: header
        name: "404"
        description: The requested item wasnot found.
        type: <td>not found</td>
      - in: header
        name: "413"
        description: The number of itemsreturned is above theallowed limit.
        type: <td>over limit</td>
      - in: header
        name: "503"
        description: The service is notavailable.
        type: <td>service unavailable</td>
      - in: query
        name: account
        description: The tenant ID.
        type: <td>string</td>
      - in: query
        name: recordId
        description: ID for the record.
        type: <td>string</td>
      - in: query
        name: service-name
        description: Name of the Cloudservice.
        type: <td>string</td>
      responses:
        200:
          description: OK
      tags:
      - Reverse DNS
definitions: []