swagger: "2.0"
info:
  title: Domain Search API
  description: Searches active and deleted domain names that match a query string
  version: 1.0.0
host: api.domaintools.com
basePath: /v2
schemes:
- http
produces:
- application/json
consumes:
- application/json
paths:
  /domain-search/:
    get:
      summary: Domain Search
      description: Searches active and deleted domain names that match a query string
      operationId: domainSearch
      parameters:
      - in: query
        name: active_only
        description: Return only domains currently registered.
        type: string
        format: string
      - in: query
        name: anchor_left
        description: Return only domains that start with the query term.
        type: string
        format: string
      - in: query
        name: anchor_right
        description: tReturn only domains that end with the query term.
        type: string
        format: string
      - in: query
        name: deleted_only
        description: Return only domains previously registered but not currently registered.
        type: string
        format: string
      - in: query
        name: exclude_query
        description: 'Terms to exclude from matching u2014 each term in the query
          string must be at least three characters long. Use spaces to separate multiple
          terms, but be sure to URL encode the values before passing them to the API.
          Default: none'
        type: string
        format: string
      - in: query
        name: has_hyphen
        description: Return results with hyphens in the domain name.
        type: string
        format: string
      - in: query
        name: has_number
        description: Return results with numbers in the domain name.
        type: string
        format: string
      - in: query
        name: max_length
        description: Limit the maximum domain character coun
        type: string
        format: string
      - in: query
        name: min_length
        description: Limit the minumum domain character count.
        type: string
        format: string
      - in: query
        name: page
        description: tSets the page of results to retrieve from the server. Each page
          is limited to 100 results.
        type: string
        format: string
      - in: query
        name: query
        description: Query string u2014 each term in the query string must be at least
          three characters long. Use spaces to separate multiple terms, but be sure
          to URL encode the values before passing them to the API.
        type: string
        format: string
      responses:
        200:
          description: OK
      tags:
      - Domains
definitions: []