<nav id="menu">
  <header class="major">
    <h2>Menu</h2>
  </header>
  <ul>
    <li><a href="http://patents.apievangelist.com/">Homepage</a></li>
    <li><a href="http://patents.apievangelist.com#Partners">Partners</a></li>
    <li><a href="http://patents.apievangelist.com/blog/">Blog</a></li>
    <li><a href="http://patents.apievangelist.com#News">News</a></li>
    <li>
      <span class="opener">Patents</span>
      <ul>
        <li><a href="http://patents.2016.apievangelist.com/" target="_blank">2016</a></li>
        <li><a href="http://patents.2015.apievangelist.com/" target="_blank">2015</a></li>
        <li><a href="http://patents.2014.apievangelist.com/" target="_blank">2014</a></li>
        <li><a href="http://patents.2013.apievangelist.com/" target="_blank">2013</a></li>
        <li><a href="http://patents.2012.apievangelist.com/" target="_blank">2012</a></li>
        <li><a href="http://patents.2011.apievangelist.com/" target="_blank">2011</a></li>
        <li><a href="http://patents.2010.apievangelist.com/" target="_blank">2010</a></li>
        <li><a href="http://patents.2009.apievangelist.com/" target="_blank">2009</a></li>
        <li><a href="http://patents.2008.apievangelist.com/" target="_blank">2008</a></li>
        <li><a href="http://patents.2007.apievangelist.com/" target="_blank">2007</a></li>
        <li><a href="http://patents.2006.apievangelist.com/" target="_blank">2006</a></li>
        <li><a href="http://patents.2005.apievangelist.com/" target="_blank">2005</a></li>
      </ul>
    </li>
    <li><a href="/documentation/">Documentation</a></li>
    <li><a href="http://patents.apievangelist.com#About">About</a></li>
    <li><a href="http://apievangelist.com"><< API Evangelist</a></li>
  </ul>
</nav>
